<md-card class="forecast">
  <md-toolbar layout-"row">
    <div class="md-toolbar-tools">
      <span>Daily Forecast<span>
    </div>
  </md-toolbar>
  <md-content>
     <md-list flex>
       <md-list-item class="md-3-line" ng-repeat="item in $ctrl.forecast track by $index" ng-click="null">
         <img ng-src="{{item.icon_url}}" class="md-avatar" alt="{{item.icon}}" />
         <div class="md-list-item-text" layout="column" flex>
           <h3>{{item.date.weekday}}</h3>
           <h4>{{item.conditions}} </h4>
           <p ng-if="!isCelsius">High: {{item.high.fahrenheit}}°F | Low: {{item.low.fahrenheit}}°F</p>
           <p ng-if="isCelsius">High: {{item.high.celsius}}°C | Low: {{item.low.celsius}}°C</p>
         </div>
         <md-divider ng-if="!$last"></md-divider>
       </md-list-item>

    <md-list>
  </md-content>
</md-card>
