
// typically import rules matter because rule order effects cascade. These are alphebetical because they currently do not have any conflicts.
@import "_footer";
@import "_header";


md-card{
  max-width:600px;
  align-self: center;
  width:100%;
}
md-card-content{
  position:relative;
}
.temp{
  font-size:6em;
  text-align: center;
  z-index: 2;
  position: relative;
}
.weather-icon{
  width:6em;
  height:auto;
}
