
// typically import rules matter because rule order effects cascade. These are alphebetical because they currently do not have any conflicts.
@import "_footer";
@import "_header";

$underline-color: #57a3e2;

md-card{
  max-width:400px;
  align-self: center;
  width:100%;
}
md-card-content{
  position:relative;
}
.temp{
  font-size:6em;
  text-align: center;
  z-index: 2;
  position: relative;
  sup{
    font-size:.5em;
    border:{
      bottom:3px solid $underline-color;
    }
  }
}
.weather-icon{
  width:6em;
}
